<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com" defer></script>
  <title>Cadastro de Empresa</title>
</head>

<body class="bg-sky-950 h-screen flex justify-center items-center">
  <form method="post" th:object="${company}" id="submitForm" th:action="@{/companies/create}" class="flex gap-24">

    <div class="space-y-8 bg-zinc-900 rounded-md p-10">
      <p class="text-white">Empresa, crie seu cadastro gratuitamente</p>
      <div class="flex flex-row gap-10">
        <input type="text" name="name" placeholder="Digite o seu nome" th:field="*{name}"
          class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">

        <input type="text" name="username" placeholder="Usuário" th:field="*{username}"
          class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
      </div>

      <div class="flex flex-row gap-10">
        <input type="email" name="email" placeholder="E-mail" th:field="*{email}"
          class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">

        <input type="text" name="website" placeholder="Website" th:field="*{website}"
          class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
      </div>

      <div class="flex flex-row gap-10">
        <input type="password" name="password" id="password" placeholder="Senha" th:field="*{password}"
          class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">

        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme sua senha"
          class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
      </div>

      <textarea name="description" placeholder="Digite uma breve apresentação" th:field="*{description}"
        class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2"></textarea>

      <p class="text-red-400" th:if="${error_message}" th:text="${error_message}"></p>
      <p class="text-red-400 hidden" id="password_error">As senhas não conferem</p>

      <button
        class="bg-green-700 w-full p-4 rounded text-white hover:bg-green-600 transition ease-in-out">Cadastre-se</button>
      <p class="mt-4 text-white">
        Já tem uma conta?
        <a href="/companies/login"
          class="block text-center text-green-700 hover:text-green-600 transition ease-in-out">Faça login</a>
      </p>
    </div>
    <div class="text-white max-w-80 text-6xl flex items-center">
      Gestão Vagas
    </div>
  </form>
</body>

<script>
  document.getElementById("submitForm").addEventListener("submit", event => {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;

    if (password !== confirmPassword) {
      document.getElementById("password_error").classList.remove('hidden');
      event.preventDefault();
    }
  })
</script>

</html>